@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--back: #f8edeb;
	--less-back: #eeba0b;
	--medium: #f8edeb;
	--less-for: #f9dcc4;
	--for: #e8a598;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
	background-color: var(--less-for);
}

/* RESET CSS */

/* COMMON STYLE */
a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.main-page-container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	min-width: 100%;
	height: 11rem;
	background-color: var(--back);
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-grow: 0;
	flex-shrink: 0;
}

.logo {
	max-width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	paddinf: 0 2rem;
}

.logo img {
	width: 60%;
}

.logo img a {
	text-decoration: blink;
}

.upper-bar {
	display: flex;
	justify-content: space-between;
	height: 80%;
	padding: 2rem;
}

.button-header {
	background-color: var(--for);
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 0.6rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-header img {
	max-width: 3rem;
}

.lower-bar {
	display: flex;
	justify-content: space-between;
	padding: 0rem;
	height: 20%;
}

.header-title {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 60%;
}

.header-title h1 {
	color: var(--dark);
	font-size: 2rem;
}

.menu-bar {
	border: 1px solid red;
	max-width: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.burger-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.burger-menu i {
	font-size: 2rem;
	cursor: pointer;
}

.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
	background: var(--back);
}

.menu-button, .menu-button::before, .menu-button::after {
	display: block;
	background-color: var(--back);
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

.dropdown-menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
	color: #000000;
}

a:hover {
	border-bottom: 1px solid;
	background: var(--medium);
}

.content {
	min-width: 100%;
	min-height: 5rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	line-height: 2rem;
	text-align: center;
}

.content label {
	text-align: left;
}

.content select {
	height: 2rem;
	font-size: 1rem;
	max-width: 10rem;
}

.main {
	min-width: 100%;
	min-height: 69vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: scroll;
}

.icone-size {
	font-size: 3rem;
}
/* =========================== $$$$$$$$$$$$$$ footer $$$$$$$$$$$$$$ ===========================*/
.footer {
	min-width: 100%;
	min-height: 3rem;
	border-radius: 1rem 1rem 0 0;
	background-color: var(--back);
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center; border : 1px solid var( --mid);
	position: sticky;
	width: 100%;
	bottom: 0px;
	border: 1px solid var(--mid);
}

.footer-left {
	padding: 0 1rem;
	width: 20%
}

.footer-center {
	padding: 0 1rem;
	width: 30%
}

.footer-right {
	padding: 0 2rem;
	width: 30%
}

/* =========================== $$$$$$$$$$$$$$ home page $$$$$$$$$$$$$$ ===========================*/
.homePage {
	max-width: 20%;
	border-radius: 0.5rem;
}

.button-group {
	padding: 1rem;
	display: flex;
	justify-content: center;
}

.row-div {
	padding: 0.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.push-button {
	background-color: var(--back);
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 0.6rem;
	/*  */
	border: 1px solid var(--mid);
	border: 1px dashed black;
}

.message {
	
}

.input-text {
	padding: 0.6rem;
	border-radius: 0.6rem;
}

.icone {
	max-width: 3rem;
}

/* =========================== $$$$$$$$$$$$$$ home page $$$$$$$$$$$$$$ ===========================*/

/* =========================== $$$$$$$$$$$$$$ home page $$$$$$$$$$$$$$ ===========================*/
.submit-button {
	width: 100%;
	max-width: 10rem;
	background-color: var(--back);
	padding: 0.5rem;
	margin: 0 1rem;
	border-radius: 0.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

/* =========================== $$$$$$$$$$$$$$ user list  $$$$$$$$$$$$$$ ===========================*/
.user-table {
	border-collapse: collapse;
	border: 1px solid var(--for);
}

.user-table-header {
	text-align: center;
	background: none repeat scroll 0 0 var(--mid);
	border-bottom: 1px solid var(--for);
	padding: 16px;
}

.user-table-odd-row {
	text-align: left;
	background: none repeat scroll 0 0 var(--back);
	border-top: 1px solid #ar(--for);
}

.user-table-even-row {
	text-align: left;
	background: none repeat scroll 0 0 var(----mid);
	border-top: 1px solid #ar(--for);
}

.user-table-column {
	background: none repeat scroll 0 var(--mid);
}

/* =========================== $$$$$$$$$$$$$$ category list  $$$$$$$$$$$$$$ ===========================*/
.category-table {
	border-collapse: collapse;
}

.category-table-header {
	text-align: center;
	background: none repeat scroll 0 0 var(--mid);
	border-bottom: 1px solid var(--for);
	padding: 16px;
}

.category-table-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 var(--back);
	border-top: 1px solid #ar(--for);
}

.category-table-even-row {
	text-align: center;
	background: none repeat scroll 0 0 var(----mid);
	border-top: 1px solid #ar(--for);
}

.category-table-column {
	background: none repeat scroll 0 var(--mid);
}

/* =========================== $$$$$$$$$$$$$$ item  list  $$$$$$$$$$$$$$ ===========================*/
.item-table {
	border-collapse: collapse;
	text-align: left;
	border: 1px dashed var(--mid);
}

.item-table th {
	text-align: center;
}
.item-table td {
	text-align: left;
}

.item-table-header {
	text-align: center;
	background: none repeat scroll 0 0 var(--mid);
	border-bottom: 1px solid var(--for);
	padding: 16px;
}

.item-table-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 var(--back);
	border-top: 1px solid #ar(--for);
}

.item-table-even-row {
	text-align: center;
	background: none repeat scroll 0 0 var(----mid);
	border-top: 1px solid #ar(--for);
}

.item-table-column {
	background: none repeat scroll 0 var(--mid);
	text-align: left;
}


/* =========================== $$$$$$$$$$$$$$ cart list  $$$$$$$$$$$$$$ ===========================*/

.cartTable {
	border-collapse: collapse;
	text-align: left;
	border: 1px dashed var(--mid);
}

.cartTable th {
	text-align: left;
}

.cartTable-header {
	text-align: center;
	background: none repeat scroll 0 0 var(--mid);
	border-bottom: 1px solid var(--for);
	padding: 16px;
}

.cartTable-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 var(--back);
	border-top: 1px solid #ar(--for);
}

.cartTable-even-row {
	text-align: center;
	background: none repeat scroll 0 0 var(----mid);
	border-top: 1px solid #ar(--for);
}

.category-table-column {
	background: none repeat scroll 0 var(--mid);
	text-align: left;
}

.button-group {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem;
}

/* -------------- burger menu----------------- */
/* exemple ici */
/* https://codepen.io/alvarotrigo/pen/MWEJEWG */
@import url(https://fonts.googleapis.com/css?family=Raleway);

.top-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: var(--for);
	height: 100%;
	font-family: "Raleway";
}

.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	opacity: 0.85;
	z-index: 3;
}

.menu>li {
	margin: 0 1rem;
	overflow: hidden;
}

.menu li {
	font-size: 1.5rem;
}

.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.menu-button, .menu-button::before, .menu-button::after {
	display: block;
	background-color: var(--for);
	position: absolute;
	height: 4px;
	width: 2rem;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media ( max-width : 700px) {
	.logo img {
		width: 70%;
	}
	.lower-bar {
		justify-content: flex-end;
	}
	.menu-button-container {
		display: flex;
	}
	.menu {
		position: absolute;
		top: 0;
		left: 0;
		margin-top: 10rem;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	#menu-toggle ~ .menu li {
		height: 0;
		margin: 0;
		padding: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#menu-toggle:checked ~ .menu li {
		height: 2.5rem;
		padding: 0.5rem;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu>li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: var(--for);
		background-color: var(--back);
	}
	.menu>li:not(:last-child) {
		border-bottom: 1px solid var(--medium);
	}
}

.w10 {
	max-width: 10rem;
}

.w5 {
	max-width: 5rem;
}
}